{% extends "base_generic.html" %}

{% block content %}
  <form method="post" action="{% url 'login' %}" class='form-signin'>
  {% csrf_token %}
    <div class="row">
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Your username and password didn't match. Please try again.
        </div>
      {% endif %}
      {% if next %}
        {% if user.is_authenticated %}
          <div class="alert alert-warning" role="alert">
            Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
          </div>
        {% endif %}
      {% endif %}
      <img class="mb-4 col-12" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 col-12 mb-4 font-weight-normal text-center">Please sign in</h1>
      <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label_tag }}</label>
      <input type="email" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"  class="form-control" placeholder="Email address" required autofocus>
      <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label_tag }}</label>
      <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control" placeholder="Password" required>
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="mb-3">
          <a href="{% url 'password_reset' %}">Lost password?</a>
      </div>
        <button class="btn btn-lg btn-primary btn-block col-8" value="login" type="submit">Sign in</button>
        <a href="{% url 'signup' %}" class="btn btn-lg btn-outline-info ml-auto col-4">Signup</a>
      <p class="col-12 mt-5 text-muted text-center">&copy; 2018 Noyte. Burak Karahan</p>
    </div>
  </form>
{% endblock %}